.home-container {
  background-color: #d1d5db;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  user-select: none;
}

.home-absolute-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.25rem;
  height: 1.25rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
