.search-box-container {
  transition:
    transform 0.25s ease-in-out,
    opacity 0.5s ease-in-out;
  transform: translateY(-100%);
  opacity: 0;
}

.search-box-container.show {
  transform: translateY(0);
  opacity: 1;
}

.search-box-container.hide {
  transform: translateY(-100%);
  opacity: 0;
}

.search-box {
  position: relative;
}

.search-box input {
  border-radius: 12px;
  border-width: 2px;
  color: black;
}

.search-box input:focus {
  border-color: #add8e6;
  border-width: 4px;
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 1000;
}

.search-results ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-results li {
  padding: 8px 16px;
  cursor: pointer;
  color: black; /* Change title text color to black */
}

.search-results li:hover {
  background-color: #f0f0f0;
}
