.stories-container {
  padding: 2em;
  padding-top: 5em;
  background-color: #d1d5db;
  user-select: none;
}

.story-card {
  background-color: none;
  padding: 0;
  margin: 1em 0;
}

.story-card:hover .story-image {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.story-card h3 {
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.story-card p {
  font-size: 0.9em;
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.story-author {
  font-size: 0.8em;
  font-weight: 300;
  text-transform: uppercase;
  color: #000;
}

.story-image {
  border-radius: 8px;
  margin-bottom: 1em;
}

.grid {
  padding-left: calc(100% / 16.8);
  padding-right: calc(100% / 16.8);
}
